<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="assets/icon/icon-16.png" sizes="16x16" type="image/png">
  <link rel="icon" href="assets/icon/icon-32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="assets/icon/icon-64.png" sizes="64x64" type="image/png">
  <link rel="icon" href="assets/icon/icon-256.png" sizes="256x256" type="image/png">
  <link rel="icon" href="assets/icon/icon.svg" sizes="any" type="image/svg+xml">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
  <script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"0x83",utcoffset:"1"}))};sessionStorage.setItem("_swa","1");</script>
  <script src="/assets/js/anchor.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function(event) {
      anchors.add();
    });
  </script>
</head>
